.review-details {
    width: 100%;
}

.review-details_inner-container {
    width: 100%;
    margin: 0 auto;
    min-height: 75vh;
    color: #484848;
    font-size: 18px;
}

.review-details_image-container {
    width: 100%;
    margin-bottom: 10px;
}

.review-details_image-container img {
    width: 100%;
}

.review-details_star-container {
    padding: 3vw 6vw;
    display: flex;
    align-content: left;
}

.review-details_user-info-container {
    display: flex;
    padding: 1vw 6vw;
    align-items: center;
    justify-content: space-between;
}

.review-details_user-info-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.review-details_review-container {
    display: flex;
    align-items: left;
}

.review-details_review-container p {
    padding: 1vw 6vw;
    margin: 0;
    margin-top: 10px;
    text-align: left;
    font-size: 16px;
}

@media (min-width: 600px) {
    .review-details_inner-container {
        width: 80%;
        margin: 20px auto;
        min-height: 75vh;
    }
}

@media (min-width: 900px) {
    .review-details_inner-container {
        width: 40%;
        margin: 20px auto;
        min-height: 75vh;
        font-size: 20px;
    }

    .review-details_star-container {
        padding: 0.5vw 0vw;
        display: flex;
        align-content: left;
    }

    .review-details_star-container {
        padding: 0.5vw 0vw;
        display: flex;
        align-content: left;
    }

    .review-details_review-container p {
        padding: 0.5vw 0vw;
        margin: 0;
    }

    .review-details_user-info-container {
        padding: 1vw 0vw;
    }
}
