.notification_inner-container {
    position: absolute;
    left: 41%;
    top: 7%;
    width: 200px;
    min-height: 250px;
    background-color: whitesmoke;
    border-radius: 5px;
    color: var(--blue);
    z-index: 5;
    box-shadow: 1px 1px 4px grey;
}

.notification_notification-container {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: left;
    align-items: left;
}

.notification_notification-container h2 {
    text-align: left;
    margin-top: 5px;
    color: black;
}

.notification_notification-container h1 {
    text-align: left;
    color: var(--blue);
    font-weight: 700;
    font-size: 16px;
}

.span-pointer {
    width: 45px;
    height: 30px;
    background-color: whitesmoke;
    z-index: 6;
    display: block;
    position: relative;
    top: 0px;
    left: 89px;
    transform: rotate(45deg);
}