
.edit-profile_heading {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.edit-profile_input-container {
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 80%;
    margin: 15px auto;
}

.edit-profile_input-container div {
    margin-bottom: 5px;
}

.edit-profile_input {
    width: 95%;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 0 auto;
    box-shadow: 1px 2px 1px #d3d3d3;
    margin-bottom: 15px;
}

.edit-profile_button-container {
    display: flex;
    align-items: left;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 14px;
}

.edit-profile_button {
    padding: 10px 15px;
    background-color: var(--cream);
    border-radius: 5px;
    border: none;
    margin-right: 15px;
}

.edit-profile_cancel-button {
    color: #fff;
    background-color: var(--red);
}

@media(min-width: 800px) {
    .edit-profile_input-container {
        width: 40%;
    }

    .edit-profile_button-container {
        width: 40%;
    }

    .edit-profile_button {
        padding: 15px 30px;
       
    }  
}