.match {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: 30px auto;
    margin-bottom: 30px;
    border: 1px solid #d3d3d3;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 1px #d3d3d3;
}

.match_no-new-match button {
    background-color: var(--blue);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 1px 2px 3px #d3d3d3;
    margin-top: 15px;
}

.match_matched-sub-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
}

.match_accept-span {
    padding: 4px 6px;
    border-radius: 5px;
    color: #fff;
    background-color: #32CD32;
    position: relative;
    left: -110px;
    top: 20px;
}

.match_matched h1 {
    font-size: 25px;
    color: var(--orange);
    font-weight: 700;
    text-shadow: 2px 2px #d3d3d3;
}

.match_matched-sub-container h3 {
    margin-right: 15px;
    font-weight: 700;
    font-size: 17px;
}


.match_matched-sub-container span {
    margin-left: 20px;
    text-align: left;
}

#match_matched-location {
    margin-left: 0;
}

#match_matched-match {
    margin-left: 13px;
}

#match_matched-date {
    margin-left: 23px;
}

#pending {
    margin-left: -6px;
}

.fa-spinner {
    animation: spin 3s infinite linear;
    color: var(--blue);
}

.fa-check {
    color: #32CD32;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}