.match {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: 30px auto;
    margin-bottom: 10px;
    border: 1px solid #d3d3d3;
    padding: 10px;
    box-sizing: border-box;
    max-width: 530px;
    color: hsl(0% 0% 45%);
}

.match_matched {
    width: 100%;
}

.match_no-new-match button {
    background-color: var(--blue);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 1px 2px 3px #d3d3d3;
    margin: 15px auto;
}

.match_matched-sub-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 3px 40px;
}

.match_cancel-match {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--red);
    float: right;
    cursor: pointer;
}

.fa-trash-alt {
    font-size: 14px;
}

.match_accept-span-container {
    display: flex;
    align-items: left;
    align-content: left;
    margin-bottom: 10px;
}

.match_accept-span {
    padding: 6px 8px;
    border-radius: 5px;
    color: #fff;
    background-color: #32CD32;
    margin-right: 25px;
    z-index:10;
    text-align: center;
    display: inline-block;
}

.match_matched h1 {
    font-size: 25px;
    color: var(--blue);
    font-weight: 700;
    text-shadow: 1px 1px #d3d3d3;
}

.match_current-match-username {
    color: var(--blue);
    font-size: 25px;
    font-weight: 200;
}

.match_matched-sub-container h3 {
    margin-right: 15px;
    font-weight: 700;
    font-size: 17px;
}


.match_matched-sub-container span {
    margin-left: 20px;
    text-align: right;
}

#match_matched-location {
    margin-left: 0;
}

#match_matched-match {
    margin-left: 13px;
}

#match_matched-date {
    margin-left: 23px;
}

#pending {
    margin-left: -6px;
}

.fa-spinner {
    animation: spin 3s infinite linear;
    color: var(--blue);
}

.fa-check {
    color: #32CD32;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media(min-width: 1000px) {
    .match {
       font-size: 20px;
    }
}