.reuse_card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: 30px auto;
    margin-bottom: 10px;
    border: 1px solid #d3d3d3;
    padding: 10px;
    box-sizing: border-box;
}

.reuse_card-image-container {
    position: relative;
    margin-right: 15px;
    top: 0;
}

.reuse_card img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #d3d3d3;
}

.reuse_card-user-info-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: -1rem;
}

.reuse_card-bold {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
}

.reuse_card-user-info-container div {
    margin-top: 5px;
    margin-left: 7px;
}

.reuse_card-user-sub-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}