.modal {
    width: 80%;
    height: 20vh;
    background-color: #F6F8FA;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -40%;
    margin-top: -10vh;
    max-width: 700px;
    box-shadow: 1px 1px 1px #d3d3d3;
    padding: 10px;
    border: 1px solid #d3d3d3;
}

@media(min-width: 800px) {
    .modal {
        margin-left: -350px;
    }

    .modal h1 {
        margin-top: 20px;
    }

    .modal div {
        margin-top: 20px;
    }
}