.navbar_wrapper {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 1;
    color: #fff;
}

.navbar_wrapper-background {
    color: #fff;
    background-color: var(--red);
}

.navbar_left-div {
    margin-left: 10px;
}

.navbar_right-div {
    display: flex;
    margin-right: 10px
}

.navbar_flex {
    display: flex;
}

.navbar_flex div {
    margin-right: 10px;
}

.navbar_flex svg {
    margin-right: 10px;
    color: var(--dark-yellow);
}

.navbar_notification-div {
    width:12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--blue);
    position: relative;
    left: 27px;
    top: -5px;
    font-size: 10px;
    padding-top: 2px;
    box-sizing: border-box;
}

.fa-bell {
    animation: shake 1s infinite linear;
}

.navbar_about-and-login {
    display: flex;
}

.navbar_about-and-login a {
    margin-left: 15px;
}

@keyframes shake {
    from {
        transform: translateZ(0deg);
    }
    to {
        transform: translateZ(100deg);
    }
}

