.profile_card-and-button-container {
    width: 100%;
    margin: 20px auto;
}

.profile_card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: 30px auto;
    margin-bottom: 10px;
    border: 1px solid #d3d3d3;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 1px #d3d3d3;
}

.profile_card-image-container {
    position: relative;
    margin-right: 15px;
    top: 0;
}

.profile_card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #d3d3d3;
}

.profile_card-user-info-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: -1rem;
}

.profile_card-bold {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
}

.profile_card-user-info-container div {
    margin-top: 5px;
    margin-left: 7px;
}

.profile_card-user-sub-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.profile_button-container {
    display: flex;
    width: 95%;
    margin: 10px auto;
}

.profile_edit-button {
    padding: 10px 30px;
    background-color: var(--dark-yellow);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    box-shadow: 1px 2px 5px #d3d3d3;
    transition: all 0.3s;
}

.profile_edit-button:active {
    transform: scale(0.95, 0.95)
}

.profile_review-button-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: left;
}

#profile_review-match-button {
    border: 1px solid var(--red);
    background-color: var(--red);
    color: #fff;
    padding: 10px 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 1px 2px 3px#d3d3d3;
    font-size: 14px;
}

