.profile_inner-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile_card-and-button-container {
    width: 100%;
    margin: 20px auto;
    max-width: 550px;
}

.profile_card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: 30px auto;
    margin-bottom: 10px;
    border: 1px solid #d3d3d3;
    padding: 10px;
    box-sizing: border-box;
}

.profile_card-header {
    width: 95%;
    margin: 0 auto;
    margin-bottom: -30px;
    margin-top: 30px;
    background-color: #EDEFED;
    border: 1px solid #d3d3d3;
    border-bottom: none;
    height: 40px;
    padding-top: 5px;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: #484848;
}

.profile_card-image-container {
    position: relative;
    margin-right: 15px;
    top: 0;
}

.profile_card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #d3d3d3;
}

.profile_card-user-info-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: -1rem;
}

.profile_card-bold {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
}

.profile_card-user-info-container div {
    margin-top: 5px;
    margin-left: 7px;
}

.profile_card-user-sub-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.profile_button-container {
    display: flex;
    width: 95%;
    margin: 10px auto;
}

.profile_edit-button {
    padding: 10px 30px;
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    box-shadow: 1px 2px 5px #d3d3d3;
    transition: all 0.3s;
}

.profile_edit-button:active {
    transform: scale(0.95, 0.95)
}

.profile_match-main-header {
    width: 95%;
    margin: 0 auto;
    margin-bottom: -30px;
    margin-top: 30px;
    background-color: #EDEFED;
    border: 1px solid #d3d3d3;
    border-bottom: none;
    height: 40px;
    padding-top: 5px;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: #484848;
}

.profile_review-button-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: left;
    max-width: 530px;
}

#profile_review-match-button {
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    box-shadow: 1px 2px 3px#d3d3d3;
    font-size: 14px;
}

@media(min-width: 1000px) {
    .profile_card {
      font-size: 20px;
    }
}

