.about-sub-container {
    width: 100vw;
    background: rbga(0,255,255,0.5);
    color: hsl(0%, 0%, 45%);
}

.about-hero-image {
    width: 100%;
    height: 40%;
}

.about_hero-heading {
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    margin: auto;
    color: #fff;
    font-size: 23px; 
}

.strangers-in {
    font-size: 35px;
    margin-bottom: 15px;
    display: inline-block;
}

.getting-coffee {
    font-size: 35px;
    color: var(--dark-yellow);
}

p {
    line-height: 1.5rem;
    font-size: 21px;
    margin-top: 15px;
    text-align: left;
    padding: 15px;
    color: rgb(44, 44, 44);
}

.about_icon-container {
    background-color: var(--blue);
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
}

.about-fa {
    font-size: 30px;
    color: #fff;
    margin-top: 15px;
}

@media(min-width: 750px) {
    .strangers-in {
       font-size: 55px;
    }
    
    .getting-coffee {
        font-size: 55px;
    }

    p {
       width: 70%;
       margin: 20px auto;
       font-size: 30px;
       line-height: 2.5rem;
    }
}

@media(min-width: 1000px) {

    .about-hero-image {
        width: 100%;
    }

    .strangers-in {
        margin-top: 50px;
       font-size: 85px;
    }
    
    .getting-coffee {
        font-size: 85px;
        margin-top: 70px;
        display: block;
    }

    p {
        width: 40%;
        margin: 20px auto;
        font-size: 30px;
        line-height: 2.5rem;
     }
}