.footer {
    margin-top: 30px;
    height: 60px;
    width: 88%;
    border: 1px solid #d3d3d3;
    padding: 20px;
    text-align: left;
    color: #767676;
}

.footer>div {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.footer>div i {
    cursor: pointer;
}
