.footer {
    margin-top: 23px;
    width: 100%;
    border: 1px solid #d3d3d3;
    padding: 22px;
    text-align: left;
    color: #767676;
    box-sizing: border-box;
}

.footer>div {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 50%;
    max-width: 250px;
}

.footer>div i {
    cursor: pointer;
}
