.home {
    width: 100%;
    color: #767676;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home_hero-container {
    width: 100%;
    height: 30vh;
    position: absolute;
    top: 0;
    z-index: -1;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../assets/people-drinking-coffee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.home_hero-captions {
    text-align: left;
    padding: 0 10px;
    margin-top: 30px;
    color: #fff;
}

    .home_hero-captions>h2 {
        font-size: 30px;
        margin-bottom: 0.75rem;
    }

    .home_hero-captions>h3 {
        font-size: 18px;
    }

    .home_join-now-button {
        background-color: var(--dark-yellow);
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        margin-top: 5px;
        color: #fff;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.5s;
    }

    .home_join-now-button:hover {
        background-color: var(--blue);
        color: var(--cream);

    }

.home_heading {
    margin-top: 4rem;
    color: #484848;
    margin-bottom: 2rem;
    font-size: 22px;
    font-weight: 500;
    text-align: left;
    padding-left: 10px;
}

.less_heading {
    margin-top: 2rem;
    margin-bottom: 0.8rem;
}

.home_review-card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-left: 10px;
}

.home_info-card-container {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 10px;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    margin-bottom: 30px;
}

.fa-users {
    color: var(--dark-yellow);
    font-size: 35px;
}

.fa-share-alt {
    color: var(--dark-yellow);
    font-size: 35px;
}

.fa-smile {
    color: var(--dark-yellow);
    font-size: 35px;
}

.home_ending-div {
    margin-bottom: 50px;
}

.home_ending-div h1 {
    font-size: 40px;
    margin-top: 50px;
}

@media(min-width: 800px) {

    .home_info-card-container {
        justify-content: space-between;
        font-size: 20px;
        width: 60%;
        margin: 80px auto;
        overflow-y: hidden;
    }

    .home_review-card-container {
        width: 60%;
        margin: 0 auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .home_heading {
        width: 60%;
        margin: 210px auto;
        margin-bottom: 25px;
        font-size: 30px;
    }

    .home_hero-captions {
        width: 60%;
        margin: 30px auto;
    }

    .home_hero-captions>h2 {
        font-size: 55px;
        margin-top: 50px;
        margin-bottom: 0.75rem;
    }

    .home_hero-captions>h3 {
        font-size: 25px;
        margin-top: 20px;
    }

    .home_hero-container {
      height: 60vh;
    }

    .less_heading {
        margin-top: 5rem;
        margin-bottom: -40px;
    }

    .home_join-now-button {
       
        padding: 15px 40px;
        margin-top: 20px;
       font-size: 20px;
    }

    .fa-users {
        color: var(--dark-yellow);
        font-size: 40px;
    }
    
    .fa-share-alt {
        color: var(--dark-yellow);
        font-size: 40px;
    }
    
    .fa-smile {
        color: var(--dark-yellow);
        font-size: 40px;
    }
}

@media(min-width: 1800px) {
    .home_heading {
       
        margin: 270px auto;
        margin-bottom: 40px;
    }

    .less_heading {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .home_info-card-container {
        margin-top: 60px;
    }
}