.home {
    width: 100%;
    color: #767676;
    position: absolute;
}

.home_hero-container {
    width: 100%;
    height: 30vh;
    position: absolute;
    top: 0;
    z-index: -1;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../assets/people-drinking-coffee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.home_hero-captions {
    text-align: left;
    padding: 0 10px;
    margin-top: 35px;
    color: #fff;
}

    .home_hero-captions>h2 {
        font-size: 30px;
        margin-bottom: 0.75rem;
    }

    .home_hero-captions>h3 {
        font-size: 18px;
    }

    .home_join-now-button {
        background-color: var(--dark-yellow);
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        margin-top: 5px;
        color: #fff;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.5s;
    }

    .home_join-now-button:hover {
        background-color: var(--cream);
        color: var(--red);

    }

.home_heading {
    margin-top: 5.5rem;
    color: black;
    margin-bottom: 2rem;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    padding-left: 10px;
}

.less_heading {
    margin-top: 2rem;
}

.home_review-card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-left: 10px;
}

.home_info-card-container {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 10px;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    margin-bottom: 130px;
}