@import url('https://fonts.googleapis.com/css?family=Padauk');


:root {
  --blue: #083d77;
  --cream: #EBEBD3;
  --dark-yellow: #F4D35E;
  --orange: #EE964B;
  --red: #F95738;
}

.App {
  text-align: center;
  font-family: 'Padauk';
}


